@import "./devicon.css";
@import "./devicon-colors.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    padding:0;
    margin:0;
    font-family: Arial, serif;
    line-height: 2.2em;
}
a{
    color:hotpink;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-size:2em;
    margin-bottom:0.5em;
}
h2{
    font-size:1.5em;
    margin:0.5em 0;
    border-bottom:1px solid #CCC;
}
ul{
    padding-left:0.5em;
}
ul li:before{
    height:10px;
    width:10px;
    padding-right:5px;
    font-weight: 900;
    color:red;
}

.blog-post-content ul li:before{
    content: '🚫 ';
}
.blog-post-content ul:first-of-type li:before{
    content: '✅ ';
}
header.bg{
    background-color: theme('colors.howtocodewell');
}
header a:hover{
    color:hotpink;
}
.text-white{
    color:#FFF;
}

.devicons i{
    font-size: 2em;
}

ul{
    padding-left:0.5em;
}
ul li:before{
    height:10px;
    width:10px;
    padding-right:10px;
    content: ' </>';
    font-weight: 900;
    color:red;

}
.profile-image{
    width:50px;
    height:50px;
    margin:5px 0;
}
