@import "~@howtocodewell/ui-library/src/css/themes/v1/theme.css";
@import "~@howtocodewell/ui-library/src/css/themes/v1/icons.css";

ul{
    padding-left:0.5em;
}
ul li:before{
    height:10px;
    width:10px;
    padding-right:10px;
    content: ' </>';
    font-weight: 900;
    color:red;

}